# See https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions
name: Build DuckDB Lambda extensions

on:
  workflow_dispatch:

env:
  DUCKDB_VERSION: '0.10.2'

jobs:
  build_all_extensions:
    name: Build and store all extensions
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Build extensions
        run: |
          # Create release folder
          mkdir -p $PWD/release/extensions/v{$DUCKDB_VERSION}

          # Run build
          docker build -t duckdb-all-extensions -f Dockerfile.extensions-all.x86_64 .

          # Copy release from image
          # docker run -v $PWD/release/extensions/v$DUCKDB_VERSION:/opt/mount --rm --entrypoint /bin/bash duckdb-all-extensions -c "cp /tmp/release/*.duckdb_extension /opt/mount/"
